body {
    margin: 0px;
    padding: 0px;
    min-width: 1245px;
    width:auto !important;
}

.jumbotron {
    height: 100px;
    margin: 0px;
}

.jumbotron h1 {
    font-size: 40px;
    margin-top: -10px;
    margin-left: 30px;
    padding-left: 30px;
}

#navbar-main{
    padding-left: 2em;
    min-height:30px !important;
    height:30px;
    border-radius: 0;
}

.navbar-brand{
    padding:5px 30px;
    font-size: 14px;
}

.navbar-right{
    padding-right: 30px;
}

.col-lg-10,
.col-md-10,
.col-sm-10 {
    padding-right: 10%;
}


.dropdown{
    height:30px;
}

.dropdown-menu{
    border-top-width: 0px;
    margin-top:0px;
}

.top-nav > li {
    display: inline-block;
    margin-right: 20px;
    float: left;
}

.top-nav > li > a {
    padding-top: 5px;
    padding-bottom: 4px;
    line-height: 20px;
    color: #999;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
    color: #fff;
    background-color: #000;
}

.side-nav {
    width: 225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
}

.side-nav > li > a {
    padding-left: 2em;
    width: 225px;
    color:#595959 !important;
}

.side-nav > li > a:hover,
.side-nav > li > a:focus {
    color: #000000 !important;
}

.side-nav ul{
    padding-left: 2em;
    list-style-type: none;
}

.side-nav > li > ul > li > a,
.thirdNavHyper{
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #595959;
}

.thirdNavHyper:hover{
    text-decoration: none;
}

.side-nav > li > ul > li > a:hover,
.side-nav > li > a:focus {
    color: #000000 !important;
}

#content {
    margin-top: 20px;
}

footer{
    margin: 200px 30px 0px;
}


#footer p{
    margin-left: 18%;
}

footer>hr{
    margin-bottom: 5px;
}

.content{
    position:relative;
}

.content h1 {
    margin:auto;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.content h2{
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.form-horizontal{
    width: 500px;
    margin:auto;
}

.searchArea{
    padding-bottom: 50px;
}

.save-options{
    margin-top:120px;
    text-align: center;
}

.save-options button{  
    margin: 50px 20px 30px 30px;
    width:120px;
}

.form-group-lg .form-control{
    padding:6px 12px;
}

