<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                          http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- servlet definitions (alphabetical by complete class name) -->
    <servlet>
        <servlet-name>StudyController</servlet-name>
        <servlet-class>clineq.Controllers.StudyController</servlet-class>
    </servlet>
    <!-- mapping -->
    <servlet-mapping>
        <servlet-name>StudyController</servlet-name>
        <url-pattern>/study/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SiteController</servlet-name>
        <servlet-class>clineq.Controllers.SiteController</servlet-class>
    </servlet>
    <!-- mapping -->
    <servlet-mapping>
        <servlet-name>SiteController</servlet-name>
        <url-pattern>/site/*</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>SponsorController</servlet-name>
        <servlet-class>clineq.Controllers.SponsorController</servlet-class>
    </servlet>
    <!-- mapping -->
    <servlet-mapping>
        <servlet-name>SponsorController</servlet-name>
        <url-pattern>/sponsor/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>clineq.Controllers.LoginController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!-- define the welcome files -->
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>
