#searchArea{
    padding-bottom: 50px;
}



p.firstLv.subform{
    margin-left:0px;
    text-align: center;
}
fieldset.search {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.seacrh {
    width:inherit; 
    padding:10px 10px; 
    border-bottom:none;
}


