form.form-modal{
    margin:auto;
}

div.modal-content{
    width: 600px;
}

.modal-footer{
    margin-top: 20px;
}

.form-horizontal{
    width:500px;
    margin:auto;
}

.form-horizontal .form-group-lg .control-label{
    text-align: left !important;
    font-size:16px !important;
    padding-right: 0px;
}

.form-group {
    height:30px;
    font-size:16px !important;
}

.form-group-lg .form-control{
    height:35px !important;
}

.input-group{
    padding-left: 15px !important;
    width:295px !important;
}

textarea{
    width: 500px;
    margin: auto !important;
    height: 100px !important;
}