#EQHome{
    position: relative;
}

.filter-bar{
    height:40px;
}

.select-box{
    font-size:18px;
}

.table-area{
    margin-top:10px;
}

.btn-success{
    float:right;
}

.indexFilterBar{
    margin-left: 25%;
}

#divIndexStudyStatus{
    margin-right: 10%;
}