.checkSpon {
    margin:auto;
    margin-bottom: 25px;
    text-align: center;
}

.checkSpon2{
    margin-top: 140px;
}

.secondLv > a{
    margin: 25px;
    fond-size:22px;
}

.form-horizontal .form-group-lg .control-label{
    text-align: left !important;
    font-size:16px !important;
    padding-right: 0px;
}

.form-group {
    height:30px;
    font-size:16px !important;
}

.form-group-lg .form-control{
    height:35px !important;
}

.input-group{
    padding-left: 15px !important;
    width:295px !important;
}

button{
    width:130px;
}


textarea{
    width: 500px;
    margin-left: 0px !important;
    height: 100px !important;
}


.subSearchArea{
    width:600px;
    margin:auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 35px;
}

.searchUser{
    margin:auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
    margin-bottom: 20px;
}
