.content{
    position: relative;
    min-height: 400px;
}

.firstLv{
    margin: auto;
    text-align: center;
}

.btn-default{
    width: 120px;
}

.btn-success{
    margin-top: 60px;
    float: right;
    width: 100px;
}

.save-options{  
    margin-left: 40%;
    margin-top: 150px;
}

