<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="WebClinEQPU" transaction-type="JTA">
    <jta-data-source>java:app/EQDB</jta-data-source>
    <class>clineq.business.OrgDocUpldRegistry</class>
    <class>clineq.business.OrgDetail</class>
    <class>clineq.business.TransactionLog</class>
    <class>clineq.business.StudySiteMap</class>
    <class>clineq.business.StudyChartGroup</class>
    <class>clineq.business.SiteLocations</class>
    <class>clineq.business.StudyLocationMap</class>
    <class>clineq.business.Messags</class>
    <class>clineq.business.Studies</class>
    <class>clineq.business.SysCodeRegistry</class>
    <class>clineq.business.ErrorLog</class>
    <class>clineq.business.StudySubjectMap</class>
    <class>clineq.business.Organizations</class>
    <class>clineq.business.Subjects</class>
    <class>clineq.business.StudyUserMap</class>
    <class>clineq.business.SysUsageTracking</class>
    <class>clineq.business.Users</class>
    <class>clineq.business.SubjectCharts</class>
    <class>clineq.business.StudyChartCategory</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
</persistence>
